@import '../../colors.scss';
@import '../../variables.scss';
@import '../../mixins.scss';
@import './breadcrumb.scss' ;
@import '../../articles/styles/wrapper.scss' ;
@import '../../articles/styles/aside.scss' ;
main {
    margin-top: $dist2;
    .wrapper {
        display: flex;
        @include flex(column, flex-start, flex-start, nowrap, "");
        #article{
            width: 100% ;
            padding: 0 ;
            margin: 0 ;
            margin-top: 0 ;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            img{
                width: 100% ;
                height: 35em;
                object-fit: cover;
                border-top-left-radius: $dist2 ;
                border-top-right-radius: $dist2 ;
            }
            .info{
                width: 100% ;
                height: auto;
                padding: 0 $dist2 ;
                margin-top: $dist3 ;
                display: flex ;
                @include flex(row,flex-start,flex-start,nowrap,"") ;
                .writer{
                    flex-shrink: 0 ;
                    max-width: 16em ;
                    height: auto;
                    display: flex ;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    a{
                        width: auto ;
                        height: auto;
                        display: flex ;
                        @include flex(column,flex-start,center,nowrap,"") ;
                        img{
                            width: 5em ;
                            height: 5em;
                            border-radius: 50% ;
                        }
                        p{
                            width: 100% ;
                            text-align: center ;
                            font-size: $fontM - .2em ;
                            color: darken($textGrey,20%) ;
                        }
                    }
                    .date{
                        font-size: $fontM - .2em ;
                        color: darken($textGrey,20%) ;
                    }
                }
                h4{
                    width: 100% ;
                    height: auto;
                    margin-right: $dist1 ;
                    font-size: $fontL ;
                    color: $textDark ;
                    font-weight: 700 ;
                }
                .commentsInfo{
                    flex-shrink: 0 ;
                    width: 6em ;
                    height: auto;
                    margin-right: $dist1 ;
                    display: flex ;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    i{
                        width: 5em ;
                        height: 5em;
                        border-radius: 50% ;
                        border: 1.2px solid darken($textGrey,20%) ;
                        position: relative ;
                        &::before{
                            @include center-xy ;
                            color: darken($textGrey,20%) ;
                            font-size: $fontL + .2em ;
                        }
                    }
                    p{
                        font-size: $fontM - .2em ;
                        color: darken($textGrey,20%) ;
                    }
                }
            }
            .articleContent{
                width: 100% ;
                height: auto;
                margin-top: $dist2 ;
                padding: 0 $dist2 $dist2 $dist2 ;
                p{
                    font-size: $fontM ;
                    color: darken($textGrey,30%) ;
                    line-height: $dist2 + 1em ;
                }
            }
        }
    }
}