@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
#gridWrapper{
    display: flex;
    @include flex(column,flex-start,flex-start,nowrap,"") ;
    h4{
        font-size: $fontL;
        font-weight: 700;
        color: $textDark;
    }
    .grid{
        width: 100%;
        height: auto;
        margin-top: $dist2;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        .row{
            width: 100%;
            height: auto;
            display: flex;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            .tour{
                position: relative;
                &::before{
                    content: '';
                    @include fullSize-abs ;
                    background-color: rgba(80,80,80,.3);
                }
                p{
                    width: 100%;
                    height: auto;
                    text-align: center;
                    font-size: $fontXL;
                    font-weight: 700;
                    color: $textWhite;
                    bottom: 0;
                }
            }
            &:nth-child(1){
                .tour{
                    width: calc(100% / 3);
                    height: 25em;
                    &:not(:first-child){margin-right: $dist2;}
                }
            }
            &:nth-child(2){
                margin-top: $dist2;
                .col{
                    width: calc(100% / 2);
                    height: auto;
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    &:not(:first-child){margin-right: $dist2;}
                    .tour{
                        width: 100%;
                        height: 25em;
                        &:not(:first-child){margin-top: $dist2;}
                    }
                }
            }
        }
    }
}
@include resizeTablet('#gridWrapper') ;
@include mediaQ(750px){
    #gridWrapper{width: 95%;} 
}
@include resizeMobile('#gridWrapper') ;
@include mediaQ(500px){
    #gridWrapper{
        .grid{
            .row{
                &:nth-child(1){
                    @include flex(row,flex-start,flex-start,wrap,flex-start) ;
                    .tour{
                        &:nth-child(1){
                            width: 100%;
                            height: 30em;
                            margin-right: 0;
                        }
                        &:nth-child(2){
                            width: calc((100% - 2 * 1em) / 2);
                            height: 25em;
                            margin-right: 0;
                        }
                        &:nth-child(3){
                            width: calc((100% - 2 * 1em) / 2);
                            height: 25em;
                            margin-right: 2em;
                        }    
                        &:not(:first-child){margin-top: $dist2;}
                    }
                }
            }
        }
    }
}
@include mediaQ(500px){
    #gridWrapper{
        .grid{
            .row{
                @include flex(row,flex-start,flex-start,wrap,flex-start) ;
                .col{
                    width: 100% !important;
                    margin-top: 2em !important;
                    margin-right: 0 !important;
                }
                .tour{
                    width: 100% !important;
                    &:not(:first-child){margin-top: 2em !important;}
                    margin-right: 0em !important;
                    height: 25em !important;
                    
                }
            }
        }
    }
}