header #topMenu {
  width: 100%;
  height: auto;
  padding: 0.75em 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  background-color: #2d2d31;
}

header #topMenu .right, header #topMenu .left {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header #topMenu .right:not(:first-child), header #topMenu .left:not(:first-child) {
  margin-right: 1.5em;
}

header #topMenu .right .logo {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header #topMenu .right .logo:not(:first-child) {
  margin-right: 3em;
}

header #topMenu .right .logo p, header #topMenu .right .logo i {
  font-size: 1.4em;
  color: #fbfbfb;
}

header #topMenu .right .logo p:nth-child(2), header #topMenu .right .logo i:nth-child(2) {
  margin-right: 0.75em;
}

header #topMenu .right .logo img {
  width: 4em;
  height: 4em;
}

header #topMenu .right .logo p {
  font-weight: 700;
  font-size: 2em;
}

header #topMenu .left .login {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 0.75em;
  border-radius: 0.75em;
  color: #2295a6;
  background-color: transparent;
  border: 1.2px solid #2295a6;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

header #topMenu .left .login:hover {
  background-color: #2295a6;
  border: 1.2px solid transparent;
  color: #fbfbfb;
}

header #topMenu .left .login:not(:first-child) {
  margin-right: 3em;
}

header #topMenu .left .login p, header #topMenu .left .login i {
  font-size: 1.4em;
  color: #fbfbfb;
}

header #topMenu .left .login p:nth-child(2), header #topMenu .left .login i:nth-child(2) {
  margin-right: 0.75em;
}

header #topMenu .left .loginWrapper {
  width: auto;
  height: auto;
  position: relative;
  margin-right: 3em;
}

header #topMenu .left .loginWrapper .content {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #fbfbfb;
  cursor: pointer;
}

header #topMenu .left .loginWrapper .content:hover {
  color: #2295a6;
}

header #topMenu .left .loginWrapper .content i, header #topMenu .left .loginWrapper .content p {
  font-size: 1.6em;
}

header #topMenu .left .loginWrapper .content i:not(:first-child), header #topMenu .left .loginWrapper .content p:not(:first-child) {
  margin-right: .3em;
}

header #topMenu .left .loginWrapper #loginDropdown {
  width: 25em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: absolute;
  top: -webkit-calc(100% + 1.5em);
  top: -moz-calc(100% + 1.5em);
  top: calc(100% + 1.5em);
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0.3em 0.8em -0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.3em 0.8em -0.1em rgba(70, 69, 85, 0.3);
  z-index: 11;
}

header #topMenu .left .loginWrapper #loginDropdown li {
  width: 100%;
  height: auto;
  background-color: white;
}

header #topMenu .left .loginWrapper #loginDropdown li:not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
}

header #topMenu .left .loginWrapper #loginDropdown li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.75em;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  font-size: 1.6em;
  color: #2d2d31;
}

header #topMenu .left .loginWrapper #loginDropdown li a:hover {
  background-color: #d9d9d9;
}

header #topMenu .left .loginWrapper #loginDropdown li.tel {
  padding: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  border-bottom: 2px solid #2295a6;
}

header #topMenu .left .loginWrapper #loginDropdown li.tel p:first-child {
  font-size: 2em;
  font-weight: 700;
  color: #2295a6;
}

header #topMenu .left .loginWrapper #loginDropdown li.tel p:last-child {
  color: #2d2d31;
  font-size: 1.6em;
  margin-top: 0.75em;
}

header #topMenu .left .telWrapper {
  width: auto;
  height: auto;
  position: relative;
  margin-right: 3em;
}

header #topMenu .left .telWrapper .content {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #fbfbfb;
  cursor: pointer;
}

header #topMenu .left .telWrapper .content:hover {
  color: #2295a6;
}

header #topMenu .left .telWrapper .content i, header #topMenu .left .telWrapper .content p {
  font-size: 1.6em;
}

header #topMenu .left .telWrapper .content i:not(:first-child), header #topMenu .left .telWrapper .content p:not(:first-child) {
  margin-right: .3em;
}

header #topMenu .left .telWrapper #telDropdown {
  width: 25em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: absolute;
  top: -webkit-calc(100% + 1.5em);
  top: -moz-calc(100% + 1.5em);
  top: calc(100% + 1.5em);
  left: 0;
  -webkit-box-shadow: 0 0.3em 0.8em -0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.3em 0.8em -0.1em rgba(70, 69, 85, 0.3);
  z-index: 11;
}

header #topMenu .left .telWrapper #telDropdown li {
  width: 100%;
  height: auto;
  background-color: white;
}

header #topMenu .left .telWrapper #telDropdown li:not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
}

header #topMenu .left .telWrapper #telDropdown li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.75em;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  font-size: 1.6em;
  color: #2d2d31;
}

header #topMenu .left .telWrapper #telDropdown li a:hover {
  background-color: #d9d9d9;
}

header #topMenu .left .telWrapper #telDropdown li.tel {
  padding: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  border-bottom: 2px solid #2295a6;
}

header #topMenu .left .telWrapper #telDropdown li.tel p:first-child {
  font-size: 2em;
  font-weight: 700;
  color: #2295a6;
}

header #topMenu .left .telWrapper #telDropdown li.tel p:last-child {
  color: #2d2d31;
  font-size: 1.6em;
  margin-top: 0.75em;
}

@media screen and (max-width: 1000px) {
  #topMenu {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  #topMenu {
    font-size: 6px;
  }
}

@media screen and (max-width: 350px) {
  #topMenu {
    font-size: 5px;
  }
}

nav {
  width: 100%;
  height: auto;
  background-color: #3f4252;
}

nav ul.desktop {
  width: 100%;
  height: 5em;
  padding: 0 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li {
  width: auto;
  height: 100%;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  background-color: transparent;
}

nav ul.desktop li:not(:first-child) {
  margin-right: 3em;
}

nav ul.desktop li:hover {
  background-color: #2295a6;
}

nav ul.desktop li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.75em;
  color: #fbfbfb;
}

nav ul.desktop li:not(.dropdownTrigger) a {
  font-size: 1.6em;
}

nav ul.desktop li.dropdownTrigger {
  position: relative;
}

nav ul.desktop li.dropdownTrigger:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

nav ul.desktop li.dropdownTrigger a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.dropdownTrigger a p, nav ul.desktop li.dropdownTrigger a i {
  font-size: 1.6em;
}

nav ul.desktop li.dropdownTrigger a p:not(:first-child), nav ul.desktop li.dropdownTrigger a i:not(:first-child) {
  margin-right: 0.75em;
}

nav ul.desktop li.dropdownTrigger ul.dropdown {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  width: 20em;
  max-height: 25em;
  position: absolute;
  top: -webkit-calc(100% + 0em);
  top: -moz-calc(100% + 0em);
  top: calc(100% + 0em);
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  -webkit-box-shadow: 0 0.8em 1em -0.5em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.8em 1em -0.5em rgba(70, 69, 85, 0.3);
}

nav ul.desktop li.dropdownTrigger ul.dropdown li {
  width: 100%;
  height: auto;
  color: #fbfbfb;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  margin-right: 0;
  background-color: #3f4252;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li:hover {
  background-color: #2295a6;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li:not(:last-child) {
  border-bottom: 1px solid #90909b;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li a {
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 1.6em;
  padding: 0.375em;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger {
  position: relative;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger:hover ul.innerDropdown {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger a {
  font-size: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger a p, nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger a i {
  font-size: 1.6em;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger a p:not(:first-child), nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger a i:not(:first-child) {
  margin-right: 0.75em;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger ul.innerDropdown {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  width: 25em;
  max-height: 35em;
  overflow: auto;
  position: absolute;
  right: 100%;
  top: 0;
  -webkit-box-shadow: 0 0.8em 1em -0.5em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.8em 1em -0.5em rgba(70, 69, 85, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger ul.innerDropdown li {
  background-color: #3f4252;
  width: 100%;
  height: auto;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: #fbfbfb;
  font-size: 10px;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger ul.innerDropdown li:hover {
  background-color: #2295a6;
}

nav ul.desktop li.dropdownTrigger ul.dropdown li.innerDropdownTrigger ul.innerDropdown li a {
  width: 100%;
  height: auto;
  padding: 0.375em;
  font-size: 1.55em;
}

nav ul.desktop li.mobile {
  display: none;
  width: auto;
  height: 100%;
  padding: 0 1.5em;
  position: relative;
  margin-right: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  background-color: transparent;
  color: #fbfbfb;
  cursor: pointer;
}

nav ul.desktop li.mobile:hover {
  background-color: #2295a6;
}

nav ul.desktop li.mobile .fa-bars {
  display: inline-block;
  width: auto;
  height: 100%;
  font-size: 2.4em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
     -moz-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
}

nav ul.desktop li.mobile ul.mobileDropdown {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: 100%;
  right: 0;
  width: 25em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  -webkit-box-shadow: 0 0.8em 1em -0.4em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.8em 1em -0.4em rgba(70, 69, 85, 0.3);
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3bbcce), color-stop(#00a6cc), color-stop(#008fc8), color-stop(#0077bf), to(#1b5daf));
  background-image: -webkit-linear-gradient(left bottom, #3bbcce, #00a6cc, #008fc8, #0077bf, #1b5daf);
  background-image: -moz-linear-gradient(left bottom, #3bbcce, #00a6cc, #008fc8, #0077bf, #1b5daf);
  background-image: linear-gradient(to right top, #3bbcce, #00a6cc, #008fc8, #0077bf, #1b5daf);
}

nav ul.desktop li.mobile ul.mobileDropdown li {
  display: inline-block;
  width: 100%;
  height: auto;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  border-bottom: 1px solid white;
  margin-right: 0;
}

nav ul.desktop li.mobile ul.mobileDropdown li:hover {
  background-color: transparent;
}

nav ul.desktop li.mobile ul.mobileDropdown li a {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 0.75em;
  color: white;
  font-size: 1.6em;
}

nav ul.desktop li.mobile ul.mobileDropdown li.withCollapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.mobile ul.mobileDropdown li.withCollapse .collapseTrigger {
  width: 100%;
  height: auto;
  padding: 1.25em;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.mobile ul.mobileDropdown li.withCollapse .collapseTrigger p {
  font-size: 1.6em;
}

nav ul.desktop li.mobile ul.mobileDropdown li.withCollapse .collapseTrigger i {
  margin-right: .3em;
  font-size: 1.6em;
}

nav ul.desktop li.mobile ul.mobileDropdown li.withCollapse ul.collapse {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  border-bottom: 1.5px solid #2295a6;
}

nav ul.desktop li.mobile ul.mobileDropdown li.withCollapse ul.collapse li {
  border-bottom: none;
  padding-right: 2em;
}

nav ul.desktop li.mobile ul.mobileDropdown li.withCollapse ul.collapse ul.collapse.inner {
  max-height: 25em;
  overflow: auto;
  border-bottom: 1.5px solid transparent;
}

nav ul.desktop li.mobile ul.mobileDropdown.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

@media screen and (max-width: 1000px) {
  nav {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    font-size: 7px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    font-size: 6px;
  }
}

@media screen and (max-width: 610px) {
  nav {
    font-size: 8px;
  }
  nav ul.desktop li {
    display: none;
  }
  nav ul.desktop li.mobile {
    display: block;
  }
}

header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header .bg {
  width: 100%;
  height: 50em;
  position: relative;
}

header .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .bg form#search {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  -webkit-box-shadow: 0 0.3em 0.8em -0.2em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.3em 0.8em -0.2em rgba(70, 69, 85, 0.3);
  width: auto;
  height: auto;
  bottom: 0;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header .bg form#search .point {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin: 1.25em 1.5em;
}

header .bg form#search .point label {
  font-size: 1.6em;
  color: #90909b;
}

header .bg form#search button[type="submit"] {
  white-space: nowrap;
  font-size: 1.6em;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: #fbfbfb;
  background-color: #2295a6;
  border: 1.2px solid transparent;
  margin: 1.25em 1.5em;
}

header .bg form#search button[type="submit"]:hover {
  color: #2295a6;
  background-color: #fbfbfb;
  border: 1.2px solid #2295a6;
}

header .withoutImg {
  width: auto;
  height: auto;
  margin-top: 1.5em;
  border-radius: 1.5em;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
}

.select2 {
  width: 15em;
  font-size: 1.6em;
  margin-right: .4em;
}

.select2 option {
  color: #767682;
  font-size: 1.6em;
}

.select2-container--default .select2-selection--single {
  border-radius: 3em;
  border: 1.2px solid #d3d3d7;
  height: 2.5em;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.5em;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select2-results__option {
  font-size: 1.6em;
  color: #2d2d31;
}

.select2-results__option.alert {
  font-size: 1.6em;
  color: #2d2d31;
}

@media screen and (max-width: 1000px) {
  header {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  header {
    font-size: 6px;
  }
}

@media screen and (max-width: 500px) {
  header .bg form#search {
    min-width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  header .bg form#search .point {
    margin: 0.75em 0;
  }
  header .bg form#search button[type="submit"] {
    margin: 0.75em 0;
  }
}

@media screen and (max-width: 500px) {
  header .withoutImg {
    width: 97%;
  }
  header .withoutImg form#search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  header .withoutImg form#search button[type="submit"] {
    margin-right: 1.5em;
  }
  header .withoutImg form#search .select2 {
    width: 10em;
  }
}
/*# sourceMappingURL=header.css.map */