#menuToggle {
  width: auto;
  height: auto;
  border-radius: 50%;
  padding: 2em;
  position: fixed;
  top: 50%;
  right: 0.75em;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
  background-color: #2295a6;
  border: 1.2px solid transparent;
  cursor: pointer;
  z-index: 12;
  transition: all .3s linear;
}

#menuToggle:hover {
  color: #2295a6;
  background-color: white;
  border: 1.2px solid #2295a6;
}

#menuToggle::before {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 2em;
}

#menuToggle.show {
  right: 31em;
}

#menuToggle.behind {
  z-index: 0;
}

#blackFilter {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

#blackFilter.show {
  display: block;
  -webkit-animation: getShow .3s linear forwards;
     -moz-animation: getShow .3s linear forwards;
          animation: getShow .3s linear forwards;
}

@-webkit-keyframes getShow {
  from {
    background-color: rgba(80, 80, 80, 0);
    z-index: 11;
  }
  to {
    background-color: rgba(40, 40, 40, 0.8);
    z-index: 11;
  }
}

@-moz-keyframes getShow {
  from {
    background-color: rgba(80, 80, 80, 0);
    z-index: 11;
  }
  to {
    background-color: rgba(40, 40, 40, 0.8);
    z-index: 11;
  }
}

@keyframes getShow {
  from {
    background-color: rgba(80, 80, 80, 0);
    z-index: 11;
  }
  to {
    background-color: rgba(40, 40, 40, 0.8);
    z-index: 11;
  }
}

#menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: -35em;
  top: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  width: 30em;
  height: 100vh;
  -webkit-box-shadow: -1em 0 1em -0.5em rgba(70, 69, 85, 0.3);
          box-shadow: -1em 0 1em -0.5em rgba(70, 69, 85, 0.3);
  z-index: 12;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#menu .logo {
  width: 100%;
  height: auto;
  padding: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  border-bottom: 1px solid #c6c6cb;
}

#menu .logo img {
  width: 7em;
  height: 7em;
}

#menu .logo h6 {
  font-size: 2em;
  font-weight: 700;
  color: #2295a6;
}

#menu .logo .userInfo {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#menu .logo .userInfo p {
  width: 100%;
  font-size: 1.4em;
  color: #2d2d31;
}

#menu .logo .userInfo .score {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: auto;
  margin-right: 1.5em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #2295a6;
}

#menu .logo .userInfo .score i {
  font-size: 1.6em;
}

#menu .logo .userInfo .score p {
  margin-top: 0.75em;
  font-size: 1.4em;
}

#menu ul {
  width: 100%;
  max-height: 75vh;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#menu ul li {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #c6c6cb;
}

#menu ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 1.5em 0.75em;
}

#menu ul li a:hover {
  background-color: #e6e6e6;
}

#menu ul li a i {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 1.2em;
  font-size: 1.6em;
}

#menu ul li a p {
  width: -webkit-calc(100% - 2em);
  width: -moz-calc(100% - 2em);
  width: calc(100% - 2em);
  font-size: 1.6em;
  color: #2d2d31;
  margin-right: .5em;
}

#menu ul li:nth-child(1) a i {
  color: #C422A0;
}

#menu ul li:nth-child(2) a i {
  color: #00BC9A;
}

#menu ul li:nth-child(3) a i {
  color: #6956D8;
}

#menu ul li:nth-child(4) a i {
  color: #2295a6;
  font-size: 1.2em;
}

#menu ul li:nth-child(5) a i {
  color: #90909b;
}

#menu ul li:nth-child(6) a i {
  color: #b8832d;
  font-size: 1.2em;
}

#menu ul li:nth-child(7) a i {
  color: #e74a4a;
}

#menu ul li:nth-child(8) a i {
  color: #FF805B;
}

#menu ul li:nth-child(9) a i {
  color: #FF427B;
}

#menu.show {
  opacity: 1;
  visibility: visible;
  right: 0;
}

@media screen and (max-width: 1000px) {
  #menuToggle, #menu {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  #menuToggle, #menu {
    font-size: 6px;
  }
}
/*# sourceMappingURL=menu.css.map */