@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#toursResume{
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontL;
        font-weight: 700;
        color: $textDark;
    }
    .tours{
        width: 100%;
        height: auto;
        margin-top: $dist2;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        .tour{
            width: 100%;
            height: auto;
            padding: $dist2 $dist1;
            display: flex;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            &:not(:last-child){border-bottom: 1px solid lighten($textGrey,20%);}
            background-color: white;
            transition: all .3s linear;
            &:hover{background-color: darken(white,10%);}
            img{
                flex-shrink: 0;
                width: 20em;
                height: 20em;
                border-radius: $dist1;
            }
            .info{
                margin-right: $dist1;
                width: 100%;
                height: auto;
                display: flex;
                @include flex(row,flex-start,flex-start,nowrap,"") ;
                .col{
                    height: auto;
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    &:not(:first-child){margin-right: $dist2;}
                }
                .col.priceCol{
                    flex-shrink: 0;
                    width: 20em;
                    p{
                        &:nth-child(1){
                            font-size: $fontL;
                            color: $primaryColor;
                            font-weight: 700;
                        }
                        &:nth-child(2){
                            color: $textGrey;
                            font-size: $fontL ;
                        }
                    }
                }
                .col.companiesCol{
                    width: 50%;
                    p{
                        font-size: $fontL;
                        font-weight: 700;
                        color: $primaryColor;
                    }
                    ul{
                       width: 100%;
                       max-height: 25em;
                       overflow: auto; 
                       display: flex;
                       @include flex(row,flex-start,center,wrap,flex-start) ;
                       margin-right: -$dist1;
                       li{
                           width: auto;
                           height: auto;
                           display: flex;
                           @include flex(row,flex-start,center,nowrap,"") ;
                           margin: $dist1;
                           i{
                               font-size: $fontM - .2em;
                               color: $greenColor1;
                           }
                           p{
                               margin-right: .3em;
                               font-size: $fontM - .2em;
                               color: $textGrey;
                               font-weight: 400;
                           }
                       }
                    }
                }
                .col.infoCol{
                    width: 50%;
                    height: auto;
                    .innerRow{
                        width: 100%;
                        height: auto;
                        display: flex;
                        .withIcon{
                            width: auto;
                            height: auto;
                            margin: $dist2;
                            display: flex;
                            @include flex(row,flex-start,center,nowrap,"") ;
                            i{
                                font-size: $fontM - .2em;
                                color: $primaryColor;
                                width: $fontS;
                            }
                            p{
                                margin-right: .1em;
                                color: $textGrey;
                                font-size: $fontM - .2em;
                            }
                        }
                    }
                    .innerRow.name{
                        @include flex(column,flex-start,flex-start,nowrap,"") ;
                        p{
                            font-size: $fontM - .2em;
                            margin-top: $dist1;
                            color: $textGrey;
                            &:first-child{
                                font-size: $fontL;
                                font-weight: 700;
                                color: $primaryColor;
                                margin-top: 0;
                            }
                        }
                    }
                    .innerRow.details{
                        margin-right: -$dist2;
                        @include flex(row,flex-start,center,wrap,flex-start) ;
                    }
                    .innerRow.inOut{
                        margin-right: -$dist2;
                        margin-top: -$dist2;
                        @include flex(row,flex-start,center,wrap,flex-start) ;                  
                    }
                }
                
            }
        }
    }
}