@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#reportWrapper{
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontL;
        font-weight: 700;
        color: $primaryColor;
    }
    .content{
        width: 100%;
        height: auto;
        margin-top: $dist2;
        display: flex;
        @include flex(row,flex-start,center,nowrap,"") ;
        img{
            width: calc(100% - 50% - 2em);
            height: 30em;
            object-fit: cover;
        }
    }
}
@include resizeTablet('#reportWrapper') ;
@include mediaQ(800px){
    #reportWrapper{width: 95%;}
}
@include resizeMobile('#reportWrapper') ;
@include mediaQ(550px){
    #reportWrapper{
        .content{
            @include flex(column,flex-start,center,nowrap,"") ;
            img{
                width: 90%;
                height: 30em;
            }
        }
    }
}