@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#tourInfo{
    #tour{    
        .tabs_wrapper{         
            .contents{
                #hotelTab{
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    .hotelInfo,{
                        width: 100%;
                        height: auto;
                        padding-bottom: $dist2;
                        &:not(:first-child){margin-top: $dist2;}
                        &:not(:last-child){border-bottom: 1px solid lighten($textGrey,25%);}
                        display: flex;
                        @include flex(column,flex-start,flex-start,nowrap,"") ;
                        h4{
                            font-size: $fontL;
                            font-weight: 700;
                            color: $darkColor;
                        }
                        .content{
                            width: 100%;
                            height: auto;
                            display: flex;
                            @include flex(column,flex-start,flex-start,nowrap,"") ;
                            margin-top: $dist1;
                        }
                    }
                    .hotelInfo{
                        .displaySwitches{
                            margin-top: $dist2;
                            width: auto;
                            height: auto;
                            display: flex;
                            @include flex(row,flex-start,center,nowrap,"") ;
                            p{
                                font-size: $fontM;
                                color: $textGrey;
                            }
                            i{
                                width: 4em;
                                height: 4em;
                                background-color: lighten($textGrey,33%);
                                color: $primaryColor;
                                transition: all .2s linear;
                                cursor: pointer;
                                margin-right: $dist3;
                                position: relative;
                                &:hover{
                                    color: $textWhite;
                                    background-color: $primaryColor;
                                }
                                &::before{
                                    @include center-xy ;
                                    font-size: $fontL;
                                }
                            }
                        }
                        #tableDisplay{
                            width: 100%;
                            height: auto;
                            margin-top: $dist2;
                            table{
                                width: 100%;
                                height: auto;
                                display: flex;
                                @include flex(column,flex-start,flex-start,nowrap,"") ;
                                thead,tbody{
                                    width: 100%;
                                    height: auto;
                                    display: flex;
                                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                                    tr{
                                        width: 100%;
                                        height: auto;
                                        display: flex;
                                        @include flex(row,flex-start,flex-start,nowrap,"") ;
                                        th,td{
                                            height: 100%;
                                            padding: $dist1 + .5em $dist1;
                                        }
                                        th{
                                            h6{
                                                width: 100%;
                                                text-align: center;
                                                font-size: $fontM;
                                                font-weight: 700;
                                                color: $textDark;
                                            }
                                        }
                                        th.name,td.name{
                                            width: 20%;
                                        }
                                        th.star,td.star{
                                            width: 12em;
                                            flex-shrink: 0;
                                        }
                                        th.price,td.price{
                                            width: 15%;
                                        }
                                        th.features,td.features{
                                            width: 20%;
                                        }                                     
                                    }
                                }
                                thead{
                                    tr{
                                        background-color: lighten($textGrey,35%);
                                        border-bottom: 1px solid lighten($textGrey,30%);
                                    }
                                }
                                tbody{
                                    tr{
                                        &:nth-child(odd){background-color: white;}
                                        &:nth-child(even){background-color: lighten($textGrey,35%);}
                                        // align-items: stretch;
                                        // td{height: auto;}
                                        td.name{
                                            p{
                                                font-size: $fontM;
                                                color: $textDark;
                                            }
                                        }
                                        td.star{
                                            .icons{
                                                transform: translateY(.5em);
                                                width: 100%;
                                                height: auto;
                                                display: flex;
                                                @include flex(row,space-around,center,wrap,flex-start) ;
                                                i{
                                                    font-size: $fontS;
                                                    color: lighten($orangeColor1,5%);
                                                }
                                            }
                                           
                                            
                                        }   
                                        td.price{
                                            .priceWrapper{
                                                margin-top: 0;
                                                width: 100%;
                                                height: 100%;
                                                justify-content: center;                                           
                                                .priceHelper{
                                                    margin-right: 0;
                                                    p{
                                                        font-weight: 400;
                                                    }
                                                }
                                                
                                            }
                                        }                             
                                        td.features{
                                            // padding: 0;
                                            display: flex;
                                            @include flex(row,flex-start,center,wrap,flex-start) ;
                                            i{
                                                color: $textDark;
                                                font-size: $fontS + .1em;
                                                margin: .5em;
                                            }
                                        }
                                    }                           
                                }
                            }
                        }
                        #detailDisplay{
                            margin-top: $dist2;
                            width: 100%;
                            height: auto;
                            display: flex;
                            @include flex(row,flex-start,flex-start,wrap,flex-start) ;
                            .hotel{
                                border: 1px solid lighten($textGrey,25%) ;
                                transition: all .3s linear;
                                &:hover{
                                    transform: translateY(-1.5em);
                                    box-shadow: 0 .4em 1em -.3em $shadowColor;
                                }
                                width: calc((100% - (3 * 3em)) / 3);
                                height: 20em;
                                border-radius: $dist2;
                                overflow: hidden;
                                margin: $dist2;
                                display: flex;
                                @include flex(row,flex-start,flex-start,nowrap,"") ;
                                img{
                                    width: 40%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                .info{
                                    width: 60%;
                                    height: 100%;
                                    display: flex;
                                    @include flex(row,flex-start,flex-start,nowrap,"") ;
                                    .right,.left{
                                        width: 50%;
                                        height: 100%;
                                        padding: $dist1;
                                        display: flex;
                                        @include flex(column,flex-start,flex-start,nowrap,"") ;
                                    }
                                    .right{
                                        h4{
                                            font-size: $fontM - .2em;
                                            color: $textDark;
                                            font-weight: 700;
                                        }
                                        .stars{
                                            width: auto;
                                            height: auto;
                                            margin-top: $dist2;
                                            display: flex;
                                            @include flex(row,flex-start,flex-start,nowrap,"") ;
                                            i{
                                                font-size: $fontS;
                                                &:not(:first-child){margin-right: .3em;}
                                                color: lighten($orangeColor1,5%);
                                            }
                                        }
                                        .price{
                                            font-size: $fontM - .2em;
                                            color: $textDark;
                                            margin-top: $dist2;
                                        }
                                    }
                                    .left{
                                        .features{
                                            width: 100%;
                                            height: auto;
                                            display: flex;
                                            @include flex(column,flex-start,flex-start,nowrap,"") ;
                                            h6{
                                                font-size: $fontM - .2em;
                                                color: $textDark;
                                                font-weight: 700;
                                            }
                                            .icons{
                                                width: 100%;
                                                height: auto;
                                                margin-top: $dist1;
                                                display: flex;
                                                @include flex(row,flex-start,flex-start,wrap,flex-start) ;
                                                i{
                                                    font-size: $fontS + .1em;
                                                    margin: .3em;
                                                    color: $primaryColor;
                                                }
                                            }

                                        }
                                    }

                                }
                            }
                        }
                        #tableDisplay,#detailDisplay{display: none;}
                        #tableDisplay.show,#detailDisplay.show{display: flex;}
                    }
                }
            }     
        }
    }
}