#tourInfo #tour .tabs_wrapper .tabs {
  background-color: #26a8bb;
  padding: 1.5em;
  -webkit-box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.5em 0.1em rgba(70, 69, 85, 0.3);
}

#tourInfo #tour .tabs_wrapper .tabs li.tab {
  border: 1px solid transparent;
  background-color: transparent;
  color: white;
}

#tourInfo #tour .tabs_wrapper .tabs li.tab:not(:last-child) {
  border-left: 2px solid white;
}

#tourInfo #tour .tabs_wrapper .tabs li.tab.active {
  background-color: white;
  color: #2295a6;
  border: none;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .summery, #tourInfo #tour .tabs_wrapper .contents #tourTab .days, #tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo, #tourInfo #tour .tabs_wrapper .contents #tourTab .map {
  width: 100%;
  height: auto;
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .summery:not(:first-child), #tourInfo #tour .tabs_wrapper .contents #tourTab .days:not(:first-child), #tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo:not(:first-child), #tourInfo #tour .tabs_wrapper .contents #tourTab .map:not(:first-child) {
  margin-top: 1.5em;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .summery:not(:last-child), #tourInfo #tour .tabs_wrapper .contents #tourTab .days:not(:last-child), #tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo:not(:last-child), #tourInfo #tour .tabs_wrapper .contents #tourTab .map:not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .summery h4, #tourInfo #tour .tabs_wrapper .contents #tourTab .days h4, #tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo h4, #tourInfo #tour .tabs_wrapper .contents #tourTab .map h4 {
  font-size: 2em;
  font-weight: 700;
  color: #2d2d31;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .summery .sectionContent, #tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent, #tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent, #tourInfo #tour .tabs_wrapper .contents #tourTab .map .sectionContent {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .summery .sectionContent p {
  margin-top: 1.5em;
  font-size: 1.6em;
  color: #83838f;
  line-height: 2em;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent .row {
  width: 100%;
  height: auto;
  padding: 1.5em 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent .row:not(:last-child) {
  border-bottom: 1px solid #b8b8bf;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent .row h6 {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 10em;
  height: auto;
  font-size: 1.6em;
  font-weight: 700;
  color: #2295a6;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent .row .desc {
  width: 100%;
  margin-right: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent .row .desc .rowInfo {
  width: 100%;
  height: auto;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent .row .desc .rowInfo p {
  font-size: 1.4em;
  color: #696975;
  line-height: 1.8em;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .moreInfo .sectionContent .row .swapIconText {
  margin-top: 0.75em;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent .question {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  border-bottom: 1px solid #c6c6cb;
  padding-bottom: 1.5em;
  margin-top: 1.5em;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent .question:last-child {
  border-bottom: none;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent .question .content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent .question .content p {
  width: 100%;
  height: auto;
  font-size: 1.6em;
  color: #2d2d31;
  font-weight: 700;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent .question .content i {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 2em;
  color: #2295a6;
  cursor: pointer;
  margin-right: 1.5em;
  padding-right: 1.5em;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent .question .answer {
  width: 100%;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .days .sectionContent .question .answer p {
  font-size: 1.6em;
  color: #767682;
  line-height: 2.5;
}

#tourInfo #tour .tabs_wrapper .contents #tourTab .map img {
  width: 100%;
  height: 35em;
  margin-top: 1.5em;
}
/*# sourceMappingURL=tourTab.css.map */