@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../utilities/styles/toolTip.scss' ;
#toursWrapper{
    width: 95%;
    height: auto;
    margin: $sectionsDist auto 0 auto;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    .col{
        &:nth-child(1){
            flex-shrink: 0;
            width: 30em;  
        }
        &:nth-child(2){
            width: 100%;
            margin-right: $dist3;
        }
        height: auto;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        .row{
            width: 100%;
            height: auto;
            display: flex;
            margin-top: 0;
            padding: 0;
            &:nth-child(1){
                padding: $dist2;
                height: 6em;
            }
            &:nth-child(2){margin-top: $dist3;}     
        }       
    }
    #displayStyles{
        display: flex;
        @include flex(row,flex-start,center,wrap,flex-start) ;
        p{
            font-size: $fontM;
            color: $textDark;
        }
        .icons{
            width: auto;
            height: auto;
            display: flex;
            @include flex(row,flex-start,center,nowrap,"") ;
            .withTooltip{
                width: 4em;
                height: 3em;
                margin-right: $dist2;
                position: relative;
                background-color: lighten($textGrey,30%);
                color: $primaryColor;
                transition: all .2s linear;
                cursor: pointer;
                &:hover{
                    color: white;
                    background-color: $primaryColor;
                }
                &::before{
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%,-50%);
                    font-size: $fontL;
                }

            }
        }
    }
    #tours{
        
    }
}