nav {
  width: 100%;
  height: auto;
  background-color: #343743;
}

nav ul.desktop {
  width: 100%;
  height: 100%;
  padding: 0.75em 1.5em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li {
  width: auto;
  height: 100%;
  margin-right: 3em;
}

nav ul.desktop li a {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #fbfbfb;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

nav ul.desktop li a p {
  font-size: 1.6em;
}

nav ul.desktop li a i {
  font-size: 1.6em;
}

nav ul.desktop li a:hover {
  color: #2295a6;
}

nav ul.desktop li.logo {
  position: absolute;
  top: 0;
  left: 1.5em;
}

nav ul.desktop li.logo a img {
  width: 10em;
  height: 3em;
  margin-right: 1em;
}

nav ul.desktop li:not(.withIcon):not(.dropdownTrigger):not(.logo):not(.bars) a {
  font-size: 1.6em;
}

nav ul.desktop li.withIcon a p {
  margin-right: .3em;
}

nav ul.desktop .dropdownTrigger a i {
  margin-right: .5em;
}

nav ul.desktop .dropdownTrigger:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

nav ul.desktop .withSmallMenu {
  position: relative;
}

nav ul.desktop .withSmallMenu .dropdown {
  width: 25em;
  height: auto;
  position: absolute;
  top: 120%;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop .withSmallMenu .dropdown li {
  margin-right: 0;
  width: 100%;
  height: auto;
  color: #2d2d31;
  background-color: white;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

nav ul.desktop .withSmallMenu .dropdown li:hover {
  background-color: #e7e7e7;
}

nav ul.desktop .withSmallMenu .dropdown li a {
  width: 100%;
  height: 100%;
  padding: 0.75em;
  font-size: 1.6em;
  color: #2d2d31;
}

nav ul.desktop .withBigMenu .dropdown {
  width: 80%;
  height: auto;
  background-color: white;
  top: 105%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
}

nav ul.desktop .withBigMenu .dropdown img {
  width: 20em;
  height: 20em;
  margin: 1.5em;
}

nav ul.desktop .withBigMenu .dropdown .menu {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

nav ul.desktop .withBigMenu .dropdown .menu .col {
  width: auto;
  height: auto;
  padding: 1.5em 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop .withBigMenu .dropdown .menu .col h4 {
  font-size: 1.8em;
  font-weight: 700;
  color: #2d2d31;
}

nav ul.desktop .withBigMenu .dropdown .menu .col .items {
  width: auto;
  height: auto;
  margin-top: 0em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop .withBigMenu .dropdown .menu .col .items a {
  font-size: 1.6em;
  color: #767682;
  margin-top: .5em;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

nav ul.desktop .withBigMenu .dropdown .menu .col .items a:hover {
  color: #2295a6;
}

nav ul.desktop li.bars {
  display: none;
}

nav ul.desktop li.bars i.fa-bars {
  display: inline-block;
  width: auto;
  height: 100%;
  cursor: pointer;
  color: #fbfbfb;
  font-size: 4em;
}

nav ul.desktop li.bars ul.mobile {
  opacity: 0;
  visibility: hidden;
  width: 35em;
  max-height: 80vh;
  overflow: auto;
  position: absolute;
  top: 105%;
  right: 3em;
}

nav ul.desktop li.bars ul.mobile li {
  width: 100%;
  height: auto;
  background-color: white;
  margin-right: 0;
  border-bottom: 1px solid #c6c6cb;
}

nav ul.desktop li.bars ul.mobile li:last-child {
  border-bottom: none;
}

nav ul.desktop li.bars ul.mobile li a, nav ul.desktop li.bars ul.mobile li .fullScreenTrigger {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li a i, nav ul.desktop li.bars ul.mobile li .fullScreenTrigger i {
  color: #2d2d31;
  font-size: 2em;
}

nav ul.desktop li.bars ul.mobile li a p, nav ul.desktop li.bars ul.mobile li .fullScreenTrigger p {
  font-size: 2em;
  color: #2d2d31;
}

nav ul.desktop li.bars ul.mobile li a p:not(:first-child), nav ul.desktop li.bars ul.mobile li a i:not(:first-child), nav ul.desktop li.bars ul.mobile li .fullScreenTrigger p:not(:first-child), nav ul.desktop li.bars ul.mobile li .fullScreenTrigger i:not(:first-child) {
  margin-right: .3em;
}

nav ul.desktop li.bars ul.mobile li:hover:not(.logo):not(.withCollapse) {
  background-color: #ebebeb;
}

nav ul.desktop li.bars ul.mobile li.logo {
  position: static;
}

nav ul.desktop li.bars ul.mobile li.logo a {
  padding: 1.5em 0.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.logo a img {
  width: 25em;
  height: 20em;
  margin-right: 0;
}

nav ul.desktop li.bars ul.mobile li.logo a p {
  margin-top: 0.75em;
  font-weight: 700;
}

nav ul.desktop li.bars ul.mobile li:not(.logo):not(.withIcon):not(.withCollapse):not(.fullScreen) a {
  padding: 0.5em 0.75em;
  font-size: 2em;
  color: #2d2d31;
}

nav ul.desktop li.bars ul.mobile li.withIcon a, nav ul.desktop li.bars ul.mobile li.withIcon .fullScreenTrigger {
  padding: 0.95em 0.75em;
}

nav ul.desktop li.bars ul.mobile li.withCollapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger {
  width: 100%;
  height: auto;
  padding: 0.95em 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger:hover {
  background-color: #ebebeb;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger p, nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger i {
  font-size: 2em;
  color: #2d2d31;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger p:nth-child(2), nav ul.desktop li.bars ul.mobile li.withCollapse .collapseTrigger i:nth-child(2) {
  margin-right: .5em;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapse {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapse a {
  font-size: 2em;
  color: #2d2d31;
  padding: 0.3em 3em 0.3em 0.75em;
  background-image: transparent;
}

nav ul.desktop li.bars ul.mobile li.withCollapse .collapse a:hover {
  background-color: #ebebeb;
}

nav ul.desktop li.bars ul.mobile li.fullScreen .fullScreenTrigger {
  cursor: pointer;
}

nav ul.desktop li.bars ul.mobile.show {
  visibility: visible;
  opacity: 1;
}

.fullScreenMenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  background-color: #1e1e1e;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.fullScreenMenu .close {
  position: absolute;
  color: white;
  font-size: 3em;
  cursor: pointer;
  right: .5em;
  top: .5em;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

.fullScreenMenu .close:hover {
  color: #90909b;
}

.fullScreenMenu img {
  width: 80%;
  height: 25vh;
  margin-top: 1em;
  margin-bottom: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

.fullScreenMenu .cols {
  width: 100%;
  max-height: -webkit-calc(100vh - .5em - 4em - 1em - 25vh - 1em);
  max-height: -moz-calc(100vh - .5em - 4em - 1em - 25vh - 1em);
  max-height: calc(100vh - .5em - 4em - 1em - 25vh - 1em);
  margin: 4em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  overflow: auto;
}

.fullScreenMenu .cols .col {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.fullScreenMenu .cols .col h4 {
  font-size: 1.75em;
  font-weight: 700;
  color: white;
}

.fullScreenMenu .cols .col a {
  font-size: 1.6em;
  color: #696975;
  margin-top: .5em;
}

.fullScreenMenu.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

@media screen and (max-width: 1000px) {
  nav {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    font-size: 6px;
  }
}

@media screen and (max-width: 600px) {
  nav ul.desktop > li:not(.bars) {
    display: none;
  }
  nav ul.desktop li.bars {
    display: block;
  }
  .fullScreenMenu .cols .col {
    width: -webkit-calc((100% - (3 * 2em)) / 3);
    width: -moz-calc((100% - (3 * 2em)) / 3);
    width: calc((100% - (3 * 2em)) / 3);
    margin: 1em;
  }
}
/*# sourceMappingURL=nav.css.map */