#agency {
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 0 1.5em;
}

#agency .title, #agency .services, #agency .map {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

#agency .title:not(:last-child), #agency .services:not(:last-child), #agency .map:not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
}

#agency .title h4, #agency .services h4, #agency .map h4 {
  font-size: 2em;
  font-weight: 700;
  color: #2d2d31;
}

#agency .title .withIcon {
  width: auto;
  height: auto;
  margin-top: 0.95em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #90909b;
}

#agency .title .withIcon i {
  font-size: 1.4em;
  width: 1.2em;
}

#agency .title .withIcon p {
  margin-right: .2em;
  font-size: 1.4em;
}

#agency .services .withCollapse {
  width: 100%;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#agency .services .withCollapse ul.collapse {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#agency .services .withCollapse ul.collapse li {
  width: auto;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#agency .services .withCollapse ul.collapse li i {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 1.6em;
  width: 1.2em;
  color: #00BC9A;
  -webkit-transform: translateY(0.4em);
     -moz-transform: translateY(0.4em);
      -ms-transform: translateY(0.4em);
          transform: translateY(0.4em);
}

#agency .services .withCollapse ul.collapse li p {
  width: 100%;
  height: auto;
  font-size: 1.6em;
  color: #90909b;
  margin-right: .4em;
}

#agency .services .withCollapse .collapseTrigger {
  margin-top: 0.75em;
}

#agency .map .mapWrapper {
  width: 80%;
  height: 35em;
  margin: 1.5em auto 0 auto;
}

#agency .map .mapWrapper img {
  width: 100%;
  height: 100%;
}

#toursList {
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#toursList h4 {
  font-size: 2em;
  font-weight: 700;
  color: #2d2d31;
}

#toursList .otherInfo {
  color: #2295a6;
  width: 100%;
  text-align: left;
  display: none;
}

#toursList table {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#toursList table thead, #toursList table tbody {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#toursList table thead tr, #toursList table tbody tr {
  width: 100%;
  height: auto;
  padding: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  border-bottom: 1px solid #c6c6cb;
}

#toursList table thead tr th.name, #toursList table thead tr td.name, #toursList table tbody tr th.name, #toursList table tbody tr td.name {
  width: 30%;
}

#toursList table thead tr th.dest, #toursList table thead tr td.dest, #toursList table tbody tr th.dest, #toursList table tbody tr td.dest {
  width: 20%;
}

#toursList table thead tr th.date, #toursList table thead tr td.date, #toursList table tbody tr th.date, #toursList table tbody tr td.date {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 20em;
}

#toursList table thead tr th.hotel, #toursList table thead tr td.hotel, #toursList table tbody tr th.hotel, #toursList table tbody tr td.hotel {
  width: 10%;
}

#toursList table thead tr th.price, #toursList table thead tr td.price, #toursList table tbody tr th.price, #toursList table tbody tr td.price {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 20em;
}

#toursList table thead tr th.more, #toursList table thead tr td.more, #toursList table tbody tr th.more, #toursList table tbody tr td.more {
  width: 20%;
}

#toursList table thead tr {
  background-color: #ebebed;
}

#toursList table thead tr th p {
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  font-weight: 700;
  color: #2295a6;
}

#toursList table tbody tr:nth-child(odd) {
  background-color: white;
}

#toursList table tbody tr:nth-child(even) {
  background-color: #ebebed;
}

#toursList table tbody tr:last-child {
  border-bottom: none;
}

#toursList table tbody tr td {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#toursList table tbody tr td p {
  font-size: 1.4em;
  color: #2d2d31;
}

#toursList table tbody tr td.dest .way {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: #90909b;
}

#toursList table tbody tr td.dest .way i {
  font-size: 1.2em;
}

#toursList table tbody tr td.dest .way p {
  margin-right: .2em;
  font-size: 1.4em;
}

#toursList table tbody tr td.price .priceWrapper {
  margin-top: 0;
}

#toursList table tbody tr td.price .priceWrapper .discount {
  color: #fbfbfb;
}

#toursList table tbody tr td.price .priceWrapper .before {
  color: #c6c6cb;
}

#toursList table tbody tr td.price .priceWrapper .finalPrice {
  color: #2295a6;
  font-size: 1.8em;
  font-weight: 400;
}

#toursList table tbody tr td.more a {
  color: #fbfbfb;
  background-color: #2295a6;
  white-space: nowrap;
  font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
  #agency, #toursList {
    font-size: 8px;
  }
}

@media screen and (max-width: 830px) {
  #toursList {
    font-size: 6px;
  }
}

@media screen and (max-width: 750px) {
  #agency, #toursList {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  #agency, #toursList {
    font-size: 6px;
  }
}

@media screen and (max-width: 600px) {
  #toursList {
    font-size: 4px;
  }
}

@media screen and (max-width: 400px) {
  #toursList .otherInfo {
    display: block;
  }
  #toursList table {
    width: 100%;
    overflow: auto;
  }
  #toursList table thead tr, #toursList table tbody tr {
    width: auto;
    min-width: 100%;
  }
  #toursList table thead tr th.name, #toursList table thead tr td.name, #toursList table tbody tr th.name, #toursList table tbody tr td.name {
    width: 20em;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  #toursList table thead tr th.dest, #toursList table thead tr td.dest, #toursList table tbody tr th.dest, #toursList table tbody tr td.dest {
    width: 15em;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  #toursList table thead tr th.date, #toursList table thead tr td.date, #toursList table tbody tr th.date, #toursList table tbody tr td.date {
    width: 15em;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  #toursList table thead tr th.hotel, #toursList table thead tr td.hotel, #toursList table tbody tr th.hotel, #toursList table tbody tr td.hotel {
    width: 15em;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  #toursList table thead tr th.price, #toursList table thead tr td.price, #toursList table tbody tr th.price, #toursList table tbody tr td.price {
    width: 15em;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  #toursList table thead tr th.more, #toursList table thead tr td.more, #toursList table tbody tr th.more, #toursList table tbody tr td.more {
    width: 12em;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
}
/*# sourceMappingURL=agency.css.map */