@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
#articles{
    display: flex;
    @include flex(column,flex-start,flex-start,nowrap,"") ;
    h4{
        font-size: $fontL;
        font-weight: 700;
        color: $textDark;
    }
    .articles{
        width: 100%;
        height: auto;
        display: flex;
        @include flex(row,flex-start,flex-start,wrap,flex-start) ;
        .article{
            width: calc((100% - (4 * 3em)) / 4);
            height: 22em;
            margin: $dist2;
            border-radius: $dist2;
            overflow: hidden;
            transition: all .3s linear;
            display: flex;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            transform: perspective(1000%) rotateX(0);
            transform-style: preserve-3d;
            &:hover{
                transform: perspective(1000px) rotateX(20deg);
            }
            img{
                width: 100%;
                height: 70%;
                object-fit: cover;
            }
            .info{
                width: 100%;
                height: 30%;
                background-color: darken(#67d1e0,15%);
                padding: $dist1;
                display: flex;
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                h6{
                    font-size: $fontM;
                    color: white;
                }
                p{
                    font-size: $fontS;
                    color: white;
                    margin-top: .5em;
                }
            }
        }
    }
}