@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
.sliderCarousel{
    width: 90%;
    @include flex(column,flex-start,flex-start,nowrap,"") ;
    .helper{
        .slides{  
            padding-top: $dist2;
            .slide{
                width: calc((100% - (3 * 2.5em)) / 3);
                height: 22em;
                border-radius: $dist2;
                display: flex;
                @include flex(row,flex-start,flex-start,nowrap,"") ;
                transition: all .3s linear;
                margin-right: $dist2;
                &:hover{
                    transform: translateY(-$dist1);
                }
                .right,.left{height: 100%;}
                .left{
                    width: 65%;
                    border-top-left-radius: $dist2;
                    border-bottom-left-radius: $dist2;
                    // overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-left-radius: $dist2;
                        border-bottom-left-radius: $dist2;
                    }
                    .agency{
                        position: absolute;
                        bottom: .1em;
                        right: $dist1;
                        font-size: $fontM;
                        color: $textWhite;
                    }
                    .special{
                        width: auto;
                        height: auto;
                        border-radius: $dist1;
                        padding: .2em $dist1;
                        background-color: $redColor1;
                        font-size: $fontM ;
                        color: $textWhite;
                        position: absolute;
                        left: -$dist2;
                        top: $dist1;
                        transform: rotate(-45deg);
                    }
                }
                .right{
                    width: 35%;
                    border-top-right-radius: $dist2;
                    border-bottom-right-radius: $dist2;
                    background-color: darken($darkBlue,5%);
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    padding: $dist1;
                    .name{
                        font-size: $fontM;
                        color: $textWhite;
                    }
                    .withIcon{
                        width: 100%;
                        height: auto;
                        margin-top: $dist1 + .5em;
                        display: flex;
                        @include flex(row,flex-start,flex-start,nowrap,"") ;
                        i{
                            text-align: center;
                            width: 1.5em;
                            font-size: $fontS;
                            color: $textWhite;
                            transform: translateY(.3em);
                        }
                        i.reverse{
                            transform: rotate(180deg) translateY(-.3em);
                        }
                        p{
                            width: 100% ;
                            height: auto;
                            margin-right: .2em;
                            font-size: $fontS;
                            color: $textWhite;
                        }
                        .content{
                            width: 100% ;
                            height: auto;
                            display: flex;
                            @include flex(row,flex-start,center,wrap,flex-start) ;
                            .beforeDiscount,.finalPrice{
                                color: $textWhite;
                                font-size: $fontS;
                            }
                            .beforeDiscount{text-decoration: line-through;}
                            .discount{
                                width: auto;
                                height: auto;
                                border-radius: $dist1;
                                background-color: $primaryColor;
                                font-size: $fontS;
                                color: $textWhite;
                                padding: .3em;
                                // margin: 0 $dist1;
                            }
                        }
                    }
                }
            }
        }
    }
    .show_more{
        margin-left: auto;
        margin-right: auto;
    }
}
.sliderCarousel.insideTour{
    width: 95%;
}