@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#loginWrapper,#signupWrapper,#forgetPasswordWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    > img{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .tabs_wrapper{
        width: 50%;
        height: 100%;
        display: flex;
        @include flex(column,flex-start,center,nowrap,"") ;
        .tabs{
            width: 100%;
            height: auto;
            display: flex;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            .tab{
                width: 50%;
                height: auto;
                padding: $dist1;
                text-align: center;
                cursor: pointer;
                font-size: $fontM;
                box-shadow: 0 .3em .5em -.2em $shadowColor;
                color: $primaryColor;
                background-color: white;
                &:hover{
                    color: white;
                    background-color: $primaryColor;         
                }
            }
            .tab.active{
                color: white;
                background-color: $primaryColor;
            }
        }
        .contents{
            width: 100%;
            height: auto;
            margin-top: $dist1;
            .content{
                padding-top: $dist1;
                width: 100%;
                height: auto;
                display: none;
                opacity: 0;
                visibility: hidden;
                @include flex(column,flex-start,center,nowrap,"") ;
                .logo{
                    width: auto;
                    height: auto;
                    display: flex;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    h4{
                        font-size: $fontL;
                        color: $primaryColor;
                        font-weight: 700;
                    }
                    img{
                        width: 7em;
                        height: 7em;
                    }   
                }
               
                > p{
                    font-size: $fontM - .1em;
                    margin-top: 0;
                    color: lighten($textGrey,10%);
                }
            }
            .content.active{
                display: flex;
                animation: fadeIn .3s linear forwards ;
                @keyframes fadeIn {
                    from{opacity: 0; visibility: hidden;}
                    to{opacity: 1; visibility: visible;}
                    
                }
            }
        }
    }
}
@include resizeTablet('#loginWrapper,#signupWrapper,#forgetPasswordWrapper') ;
@include mediaQ(800px){
    #loginWrapper,#signupWrapper,#forgetPasswordWrapper{
        width: 100%;
        height: auto;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        > img{
            width: 100%;
            height: 50vh;
        }
        .tabs_wrapper{
            padding-bottom: $dist2;
            width: 100%;
            height: auto;
        }
    }
}
@include resizeMobile('#loginWrapper,#signupWrapper,#forgetPasswordWrapper') ;
