@import './colors.scss' ;
@mixin flex($dir,$mainAxis,$crossAxis,$wrap,$wrapBehave) {
    flex-direction: $dir ;
    justify-content: $mainAxis ;
    align-items: $crossAxis ;
    flex-wrap: $wrap ;
    align-content: $wrapBehave ;
}
@mixin bg($url,$pos,$repeat,$size){
    background: url($url) $pos $repeat ;
    background-size: $size ;
}
@mixin multiEllipse($lineNum,$lineHeight,$ellipseColor){
    // <h6>
	//    <span class="ellipse" data-align="right">...</span>
	//    عنوان مقاله
    // </h6>
    // h6{@include multiEllipse(3,$dist2,$textDark) ;}
    // aside.querySelectorAll('.ellipse').forEach(ellipse=>new util.Ellipse(ellipse))    
    position: relative ;
    overflow: hidden;
    line-height: $lineHeight;
    max-height: $lineNum * $lineHeight ;
    text-align: justify; //we should not use text-align:center here  
    // padding-left: 2em;
    padding-right: 0 ;
    .ellipse{
        color: $ellipseColor ; 
        position: absolute ;
        left: 0;
        bottom: 0 ;
        display: none ;
    }
    .ellipse.show{
        display: block ;
    }
}
@mixin swapColor($color,$bgColor){
    cursor: pointer;
    transition: all .3s linear ;
    color: $color ;
    background-color: $bgColor ;
    border: 1.2px solid transparent ;
    &:hover{
        color: $bgColor ;
        background-color: $color ;
        border: 1.2px solid $bgColor ;
    }
}
@mixin changeColor($color,$bgColor,$hoverColor,$hoverBgColor){
    cursor: pointer;
    transition: all .3s linear ;
    color: $color ;
    background-color: $bgColor ;
    border: 1.2px solid transparent ;
    &:hover{
        color: $hoverColor ;
        background-color: $hoverBgColor ;
        border: 1.2px solid $hoverColor ;
    }
}
@mixin pulse($color){
    position: relative ;
    &::before,&::after{
        content: '' ;
        width: 100% ;
        height: 100%;
        position: absolute ;
        top: 50% ;
        right: 50% ;
        transform: translate(50%,-50%) scale(1) ;
        border-radius: $dist3 ;
        background-color: transparent ;
        border: 1.2px solid $color ;
        opacity: 0;
    }
    &:hover {
        &::before,&::after{animation: pulse .5s linear 1 forwards ;}
        &::before{animation-delay: 0s ;}
        &::after{animation-delay: .3s ;}
    }  
    @keyframes pulse {
        from{opacity: 1;}
        to{
            opacity: 0;
            transform: translate(50%,-50%) scale(1.5) ;
        }
    }
}
@mixin textBlur($textHeight,$bgHeight,$blur,$bgURL,$textColor){
    // <div class="img">
    //     <img src="../assets/imgs/article1.jpg" alt="articleImg">
    //     <div class="title">
    //         <div class="blur"></div>
    //         <h4> نام مقاله</h4>
    //     </div>
    // </div>
    // .article{
    //     width: 100%;
    //     height: 35em + $dist2; //we should set height explicitly
    //     @include textBlur(8em,35em + $dist2,8px,'../../assets/imgs/slide1.jpg',$textDark);
    // }
    position: relative ;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center center;
    }
    .title{
        width: 200% ;
        height: $textHeight;
        padding: $dist1;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%) ;
        overflow: hidden;
        .blur{
            @include fullSize-abs ;
            filter: blur($blur);
            @include bg($bgURL,bottom center,no-repeat,50% $bgHeight) ;
        }
        h4{
            width: 100%;
            text-align: center ;
            font-size: $fontL;
            color: $textColor;
            z-index: 2;
            @include center-xy ;
        }
    }
}
@mixin underlineHover($height,$color){
    position: relative;
    &::before{
        content: '';
        width: 0;
        height: $height;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: $color;
        transition: all .2s linear;
    }
    &:hover{
        &::before{
            width: 100%;
        }
    }
}
@mixin shakeAnimation($time){
    animation: shake $time linear 0s 1 forwards ;
    @keyframes shake {
        0%{transform: rotate(-25deg);}
        25%{transform: rotate(25deg);}
        50%{transform: rotate(-25deg);}
        75%{transform: rotate(-25deg);}
        100%{transform: rotate(0deg);}
    }
}
@mixin hiddenShow($elm){
    #{$elm}{
        transition: all .3s linear;
        opacity: 0;
        visibility: hidden;
    }
    #{$elm}.show{
        opacity: 1;
        visibility: visible;
    }
}
@mixin showHidden($elm){
    #{$elm}{
        transition: all .3s linear;
        opacity: 1;
        visibility: visible;
    }
    #{$elm}.hide{
        opacity: 0;
        visibility: hidden;
    }
}
// @include resizeTablet('#container') ;
//@include resizeTablet('#container .child') ;
//@include resizeTablet('#container'+' .child') ;
// @include resizeTablet('#container') {
//     .something{color: red ;}
// }
// @include mediaQ-w(300px){
//     #wrapper{
//         width: 90% ;
//     }
// }
@mixin resizeTablet($wrapper){
    @media screen and (max-width:1000px){
        #{$wrapper}{
            font-size: 8px ;
            @content ;
        }
    }  
}
@mixin resizeMobile($wrapper){
    @media screen and (max-width:700px){
        #{$wrapper}{
            font-size: 6px ;
            @content ;
        }
    }
}
@mixin mediaQ($maxWidth) {
    @media screen and (max-width: $maxWidth){@content ;}
}
@mixin mediaQ-h($maxHeight) {
    @media screen and (max-height: $maxHeight){@content ;}
}
@mixin mediaQ-wh($maxWidth,$maxHeight) {
    @media screen and (max-width: $maxWidth) and (max-height: $maxHeight){@content ;}
}
//for ::before,::after we cant add css classes so we need to use mixins for them
//for times we want to change style for media queries using mixins is better than classes
//for times we want to change style for pseudo classes(:hover,...) using mixins is better than classes
@mixin fullSize{
    width: 100% ;
    height: 100%;
}
@mixin fullSize-abs{
    width: 100% ;
    height: 100%;
    top: 0 ;
    right: 0 ;
    position: absolute ;
}
@mixin center-x{
    position: absolute ;
    right: 50% ;
    transform: translateX(50%) ;
}
@mixin center-y{
    position: absolute ;
    top: 50% ;
    transform: translateY(-50%) ;
}
@mixin center-xy{
    position: absolute ;
    top: 50% ;
    right: 50% ;
    transform: translate(50%,-50%) ;
}
@mixin shadowS{box-shadow: 0 0 1em .05em rgba(175,175,175,.5);}
@mixin shadowL{box-shadow: 0 0 1.5em .1em rgba(135,135,135,.5);}
@mixin shadowBlurS{box-shadow: 0 0 2em .05em rgba(175,175,175,.5);}
@mixin shadowBlurL{box-shadow: 0 0 2.5em .2em rgba(135,135,135,.5);}
@mixin shadowBellow{box-shadow: 0 .3em 1em -.2em $shadowColor ;}
@mixin shadowPrimary{box-shadow: 0 .6em 1.7em -.5em $primaryColor ;}
@mixin containerStyle{
    width: 80% ;
    height: auto;
    margin: $dist3 auto 0 auto ;
    padding: $dist2  ;
    background-color: $bgColor ;
    box-shadow: 0 0 1em .01em $shadowColor ;
    border-radius: $dist2 ;
}